+b.social

	+e('a').__item(href='#insta')
		+icon('share_insta')

	+e('a').__item(href='#youtube')
		+icon('share_you')

	+e('a').__item(href='#twitter')
		+icon('share_tw')

	+e('a').__item(href='#fb')
		+icon('share_fb')