.header.header__account
	.container
		.row
			.col-12
				.header__inner
					.header--left
						.header--logo
							a(href="index.html") 
								img(src="images/logo.svg" alt="logo" height="60px")
						.header--title Личный кабинет
					
					.header--right
						.header--account
							a(href="account.html") Второй пользователь