.header
	&.header__account
		background-color: $c-bg
		color: $c-main-light
		padding: 20px 0
		font-size: 30px
		position: absolute
		top: 0
		left: 0
		right: 0
	&--left
		display: flex
		align-items: flex-end
	&--account
		a
			color: $c-main-light
			text-decoration: none