+b('header').header.--dark

	+e.__inner

		+e.__logo
			include ./logo

		+e.__most

			+bridge-logo2()

			+e('h1').__most-descr Follow us. Help young people in need

		+e.__social
			include ../../blocks/social/social

		+e.__menu
			include ../../partials/menu/main-menu/main-menu


