.sidemenu
	nav.sidemenu--nav
		ul.sidemenu--list
			li.sidemenu--item.active
				a.sidemenu--link(href="#") Главная
			li.sidemenu--item
				a.sidemenu--link(href="#") Счета
			li.sidemenu--item
				a.sidemenu--link(href="#") Кредиты
			li.sidemenu--item
				a.sidemenu--link(href="#") Личные данные
			li.sidemenu--item
				a.sidemenu--link(href="#") Выйти