+b.share
	//- vkontakte,facebook,odnoklassniki,twitter,linkedin,viber,whatsapp,skype,telegram
	.ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,linkedin,viber,whatsapp,skype,telegram', data-bare="false")

	+e.__list

		+e.__item(data-social='vkontakte')
			+icon('share_vk')

		+e.__item(data-social='facebook')
			+icon('share_fb')

		+e.__item(data-social='odnoklassniki')
			+icon('share_ok')

		+e.__item(data-social='twitter')
			+icon('share_tw')

		+e.__item(data-social='linkedin')
			+icon('share_in')

		//- +e.__item(data-social='viber')
		//- 	+icon('share_vb')

		+e.__item(data-social='whatsapp')
			+icon('share_wa')

		+e.__item(data-social='skype')
			+icon('share_sk')

		//- +e.__item(data-social='telegram')
		//- 	+icon('share_tg')