mixin bridge-logo(data)

	+b.bridge-logo(class=data.auto ? '--auto' : false)

		svg(viewBox="0 0 641 68" width='641', height='68', fill='none', xmlns='http://www.w3.org/2000/svg')
			g.item.item--first.active
				g.filled
					path(d='M0 16v8a32 32 0 0132 32v12h16V56a32 32 0 0132-32v-8H0zM40 16a8 8 0 100-16 8 8 0 000 16z')
				g.stroked
					path(d='M80 22.996c-18.213 0-33 14.787-33 33v11H33v-11c0-17.87-14.26-32.357-32-32.898v-6.102h79M39.993 1a6.982 6.982 0 00-6.998 6.998 6.982 6.982 0 006.998 6.998 6.994 6.994 0 007.013-6.998A6.994 6.994 0 0039.993 1z')
			g.item
				g.filled
					path(d='M80 16v8a32 32 0 0132.001 32v12h16V56a32 32 0 0132-32v-8h-80zM120.001 16a8 8 0 100-16 8 8 0 000 16z')
				g.stroked
					path(d='M80 22.996c18.214 0 33.001 14.787 33.001 33v11h14.003v-11c0-18.214 14.783-32.996 32.997-32.996M80.001 16.996h80M120.008 1a6.981 6.981 0 016.998 6.998 6.981 6.981 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01120.008 1z')
			g.item
				g.filled
					path(d='M160.001 16v8a32 32 0 0132 32v12h16V56a32.001 32.001 0 0132-32v-8h-80z')
					path(d='M200.001 16a8 8 0 10.001-16 8 8 0 00-.001 16z')
				g.stroked
					path(d='M160.001 22.996c18.214 0 33 14.787 33 33v11h14.004v-11c0-18.214 14.783-32.996 32.996-32.996M160.001 16.996h80M200.009 1a6.981 6.981 0 016.998 6.998 6.981 6.981 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01200.009 1z')
			g.item
				g.filled
					path(d='M240.001 16v8a32.001 32.001 0 0132.001 32v12h16V56a32 32 0 0132-32v-8h-80.001zM280.002 16a8 8 0 100-16 8 8 0 000 16z')
				g.stroked
					path(d='M240.001 22.996c18.214 0 33 14.787 33 33v11h14.004v-11c0-18.214 14.783-32.996 32.997-32.996M240.002 16.996h79.999M280.009 1a6.981 6.981 0 016.998 6.998 6.981 6.981 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01280.009 1z')
			g.item
				g.filled
					path(d='M320.002 16v8a32 32 0 0132 32v12h16V56a32.001 32.001 0 0132-32v-8h-80zM360.002 16a8 8 0 008-8 8 8 0 10-16 0 8 8 0 008 8z')
				g.stroked
					path(d='M320.002 22.996c18.214 0 33 14.787 33 33v11h14.004v-11c0-18.214 14.783-32.996 32.996-32.996M320.002 16.996h80M360.01 1a6.982 6.982 0 016.998 6.998 6.982 6.982 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01360.01 1z')
			g.item
				g.filled
					path(d='M400.002 16v8a32.001 32.001 0 0132.001 32v12h16V56a32 32 0 0132-32v-8h-80.001zM440.003 16a8 8 0 100-16 8 8 0 000 16z')
				g.stroked
					path(d='M400.002 22.996c18.214 0 33 14.787 33 33v11h14.004v-11c0-18.214 14.783-32.996 32.997-32.996M400.003 16.996h79.999M440.01 1a6.981 6.981 0 016.998 6.998 6.981 6.981 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01440.01 1z')
			g.item
				g.filled
					path(d='M480.003 16v8a32 32 0 0132 32v12h16V56a32.001 32.001 0 0132-32v-8h-80zM520.003 16a8 8 0 008-8 8 8 0 10-16 0 8 8 0 008 8z')
				g.stroked
					path(d='M480.003 22.996c18.214 0 33 14.787 33 33v11h14.004v-11C527.007 37.782 541.79 23 560.003 23M480.003 16.996h80M520.011 1a6.982 6.982 0 016.998 6.998 6.982 6.982 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01520.011 1z')
			g.item.item--last
				g.filled
					path(d='M560.003 16v8a32.001 32.001 0 0132.001 32v12h16V56a32 32 0 0132-32v-8h-80.001zM600.004 16a8 8 0 100-16 8 8 0 000 16z')
				g.stroked
					path(d='M560.003 22.996c18.214 0 33 14.787 33 33v11h14.001v-11c0-17.87 14.259-32.357 32-32.898v-6.102h-79.001M600.011 1a6.982 6.982 0 016.998 6.998 6.982 6.982 0 01-6.998 6.998 6.994 6.994 0 01-7.013-6.998A6.994 6.994 0 01600.011 1z')