+b.dev-components.content
	h1 dev-components

	include ../../blocks/dev-components/grids/grids
	include ../../blocks/dev-components/sticky-block/sticky-block
	//- include ../../blocks/dev-components/z-slider/z-slider
	//- include ../../blocks/dev-components/slider-doc/slider-doc
	//- include ../../blocks/dev-components/btn-toggle-doc/btn-toggle-doc
	include ../../blocks/dev-components/pictures/pictures
	include ../../blocks/dev-components/textarea/textarea
	include ../../blocks/dev-components/n-slider/n-slider