footer.footer
	.container
		.row
			nav.nav.col-xl-3
				.nav--title Навигация
				.nav--list
					a.nav--item(href="#main") Главная
					a.nav--item(href="#startWith") Наше преимущество
					a.nav--item(href="#types") Виды кредитов