.footer
	position: relative
	flex-shrink: 0
	
	&__top
		min-height: 290px
		padding: 40px 0 25px
		background-color: $c-main

		+media($md)
			padding: 25px 0

	&__bot
		background-color: #333

		&-inner
			display: flex
			align-items: center
			justify-content: space-between
			min-height: 68px
			padding: 15px 0

			+media($lg)
				flex-wrap: wrap

		&-left
			display: flex
			align-items: center
			flex: 1 0 50%
			max-width: 50%

			+media($lg)
				flex: 1 0 100%
				max-width: 100%

			+media($md)
				flex-direction: column
				align-items: stretch

		&-right
			display: flex
			align-items: center
			flex: 1 0 50%
			max-width: 50%

			+media($lg)
				flex: 1 0 100%
				max-width: 100%
				margin-top: 10px

			+media($md)
				flex-direction: column
				align-items: stretch

		&-license
			max-width: 430px

			+media($xl)
				max-width: 240px

			+media($lg)
				max-width: initial

			&__text

				+media($xl)
					font-size: 12px

		&-menu
			display: flex
			margin-left: 35px

			+media($lg)
				margin-left: auto

			+media($md)
				order: -1
				margin-left: 0
				margin-bottom: 20px

			&-link
				display: block
				font-weight: 500
				color: #fff
				text-decoration: none
				+transish

				&:hover
					color: $c-main
					text-decoration: none

				&:not(:last-child)
					margin-right: 20px

		&-reestr
			max-width: 450px

			+media($xl)
				max-width: 245px
				font-size: 12px

			+media($lg)
				max-width: initial

		&-dev
			display: flex
			align-items: center
			margin-left: auto

			+media($md)
				margin-left: 0
				margin-top: 20px

			&__text

				+media($xl)
					font-size: 12px

			.icon
				display: block
				+sizeblock(14px)
				margin-right: 7px
				fill: #fff

	&__inner
		display: flex

		+media($xl)
			flex-wrap: wrap

		+media($md)
			flex-direction: column

	&__descr
		flex: 0 0 250px
		max-width: 250px
		margin-right: 70px
		color: #fff

		+media($lg)
			flex: 0 0 340px
			max-width: 340px
			margin-right: 25px

		+media($md)
			margin-right: 0
			flex: 0 0 auto
			max-width: 100%
			margin-bottom: 30px

		&-item

			&:not(:last-child)
				margin-bottom: 25px

		&-title
			margin-bottom: 12px
			font-size: 13px
			text-transform: uppercase
			font-weight: 500

		&-text
			font-size: 12px
			line-height: 1.7

			&:not(:last-child)
				margin-bottom: 12px

	&__menu

		+media($xl)
			order: -1
			width: 100%
			margin-bottom: 45px

		+media($lg)
			margin-bottom: 25px

		&-title
			display: none

			+media($lg)
				display: block
			
			&-text
				position: relative
				display: inline-block
				padding-left: 30px
				color: #fff
				text-transform: uppercase
				font-size: 13px
				font-weight: 500
				letter-spacing: 0.02em

				.icon
					position: absolute
					top: 3px
					left: 0
					width: 16px
					height: 12px
					fill: #fff

		.nav-menu
			
			&__list
				column-count: 3
				column-width: 250px
				transition: height 0.3s ease

				+media($xl)
					column-width: 230px

				+media($xl)
					max-width: 650px
					column-count: 2

				+media($lg)
					margin-top: 20px
			
			&__item

				&:not(:last-child)
					margin-bottom: 17px

				&.active,
				&:hover

					.nav-menu__link
						text-decoration: none
						color: $c-main

			&__link
				display: inline-block
				font-size: 12px
				font-weight: 500
				color: #fff

	&__text
		font-size: 12px
		color: #fff

		+media($lg)
			font-size: 10px

	&__contacts-wrap
		flex: 1 0 290px
		max-width: 290px

		+media($lg)
			margin-top: 25px

		+media($md)
			flex: none
			max-width: initial
			margin-bottom: 0
			margin-top: 0

	&__contacts

		.link-icon

			&:not(:last-child)
				margin-bottom: 25px

			&:hover
				
				.link-icon__link
					color: $c-main
					text-decoration: none

				.link-icon__icon

					.icon
						fill: $c-main

			&__link
				color: #fff
				font-size: 12px
				+transish

			.icon
				+transish
				fill: #fff

	.scroll-top
		position: absolute
		top: -108px
		right: 50px
		+sizeblock(72px)
		+circle
		background-color: $c-main
		cursor: pointer
		+transish

		+media($xl)
			top: -100px
			right: 15px
			+sizeblock(50px)

		+media($lg)
			display: none

		&:after
			+pseudo
			top: 26px
			left: 23px
			+sizeblock(28px)
			border-left: 8px solid #fff
			border-top: 8px solid #fff
			transform: rotate(45deg)
			box-sizing: border-box

			+media($xl)
				+sizeblock(16px)
				top: 21px
				left: 18px
				border-width: 4px

		&:hover
			background-color: $c-main