.footer
	background-color: $c-bg
	border-top: 5px solid $c-main
	padding: 100px 0

	+media($lg)
		padding: 45px 0

	&__inner
		display: flex
		justify-content: space-between

		+media($lg)
			flex-direction: column

	&--title
		font-size: 30px
		color: $c-main-light
		font-weight: 700
	.nav

		+media($lg)
			margin-bottom: 50px

		&--list
			display: flex
			flex-direction: column
		&--item
			margin-top: 25px
			font-size: 24px
			color: $c-main-light
			font-weight: 300
	
	.subscribe
		&--form
			display: flex
			margin-top: 25px
		&--input
			display: block
			background-color: #424242
			border: 0
			outline: none
			color: $c-main-light
			padding: 10px 15px
			font-weight: 300
			border-radius: 10px 0 0 10px
		&--submit
			display: block
			background-color: #424242
			border: 0
			border-left: 1px solid rgba(255,255,255, .2)
			outline: none
			font-size: 18px
			font-weight: 300
			color: $c-main-light
			padding: 10px 15px
			border-radius: 0 10px 10px 0

			+media($sm)
				font-size: 14px
			&:hover
				background-color: rgba(255,255,255,.2)