.footer
	margin-top: 9px
	background-color: $c-bg
	border-top: 5px solid $c-main
	padding: 100px 0;
	.nav
		&--title
			font-size: 30px
			color: $c-main-light
			font-weight: 700
		&--list
			display: flex
			flex-direction: column
		&--item
			margin-top: 25px
			font-size: 24px
			color: $c-main-light
			font-weight: 300