- var page = "Счета"
.accounts
	.container
		.row
			.col-md-3
				.accounts--side-menu
					include ../sidemenu/sidemenu.pug
			.col-md-9
				.accounts--content
					.accounts--item
						.accounts--name грязная собака
						.accounts--value
							img.accounts--image(src="images/refresh.svg", alt="refresh")
							span 122
							span BYN
						.accounts--buttons
							.accounts--button пополнить
							.accounts--button взять кредит
							.accounts--button перевести деньги
					.accounts--item.accounts--item--plus
						button.accounts--add
							span.accounts--horisontal
							span.accounts--vertical
					