main.hero.section#main
	header.header
		.container
			.row.align-items-center
				.header--logo.col-xl-2.col-lg-2.col-md-3.col-sm-4
					a(href="#main")
						img(src="images/logo.svg", alt="abus-logo").logo--image
				.header--login.col-xl-2.col-lg-3.col-md-4.col-sm-1.offset-xl-8.offset-lg-7.offset-md-5.offset-sm-6
					a.login--button.button(href="login.html")
						.button--image
							img(src="./images/usersvg.svg", alt="user")
						.button--text Войти в кабинет
	.hero--title
		h1.title--main Ваши проблемы - наши решения
		h2.title--second Ваши деньги в надежном месте
	.hero--scroll-down
		a(href="#startWith")
			img(src="images/scrolldown.svg", alt="scrolldown")
