.modal_test.modal.fade#modalTest
	.modal-dialog
		.modal-content
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true")
			.modal-body
				
				.modal-title
					.modal-title-text.h3 Тестовая модалка
					.modal-title-descr Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, sequi.

				.modal-content

					p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, magni? Quidem, dolor! Eaque aspernatur, in sequi ducimus voluptas, sed iusto deleniti ut perspiciatis expedita blanditiis quidem quae autem odit qui.