extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Abus: личный кабинет'
	- var dir = './'
	- var layout = ''
	- var componentsList = []
	- var componentsCriticalList = []
	- var componentsScriptsList = []


block main

	include ../blocks/account/header/header.pug
	include ../blocks/account/accounts/accounts.pug
	

block popups

//- block componentsCriticalStyles
	+componentsCriticalStyles-includer()

//- block componentsStyles
	+style-includer()

//- block componentsScripts
	+componentsScripts-includer()

block scripts