extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Abus: главная'
	- var dir = './'
	- var layout = ''
	- var componentsList = []
	- var componentsCriticalList = []
	- var componentsScriptsList = []


block main

	include ../blocks/hero/hero
	include ../blocks/startWith/startWith
	include ../blocks/types/types
	//- include ../blocks/sidePins/sidePins
	include ../partials/footer/footer
	

block popups

//- block componentsCriticalStyles
	+componentsCriticalStyles-includer()

//- block componentsStyles
	+style-includer()

//- block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src='./js/vendor/fullpage2.min.js')