+b.page404

	+e.__bg
		img(src="./images/404bg.jpg", alt="bg")

	+e.__inner

		+logo()

		+bridge-logo({
			auto: true,
		})

		+e('h1').__title Our site is coming soon

		//- +e.__descr Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam tenetur porro tempora accusamus odio aliquid, praesentium est perferendis animi ex doloribus obcaecati aliquam quas veniam earum rerum, architecto quidem.

		//- +b.social

			+e('a').__item(href='#fb')
				+icon('share_fb')

			+e('a').__item(href='#twitter')
				+icon('share_tw')

			+e('a').__item(href='#vk')
				+icon('share_vk')

			+e('a').__item(href='#ok')
				+icon('share_ok')

			+e('a').__item(href='#vb')
				+icon('share_vb')

			+e('a').__item(href='#tg')
				+icon('share_tg')

		+e('a').__link(href='https://www.kualo.com/free-charity-hosting' title="Free Charity Hosting") Free Charity Hosting by Kualo

		+e.__copyright This website and its content is copyright of The Bridge - ©The Bridge, 2019. #[br] All rights reserved.