.sitemap.list-reset
	
	.container
		.row
			.col-12

				.sitemap__inner
	
					ul.sitemap__list.sitemap__list_lvl1
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
							
							ul.sitemap__list.sitemap__list_lvl2
								li.sitemap__item.sitemap__item_lvl2
									a(href="#") Ссылка
								li.sitemap__item.sitemap__item_lvl2
									a(href="#") Ссылка
								li.sitemap__item.sitemap__item_lvl2
									a(href="#") Ссылка
									
									ul.sitemap__list.sitemap__list_lvl3
										li.sitemap__item.sitemap__item_lvl3
											a(href="#") Ссылка
										li.sitemap__item.sitemap__item_lvl3
											a(href="#") Ссылка
										li.sitemap__item.sitemap__item_lvl3
											a(href="#") Ссылка
					
					ul.sitemap__list.sitemap__list_lvl1
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
					
					ul.sitemap__list.sitemap__list_lvl1
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка
						li.sitemap__item.sitemap__item_lvl1
							a(href="#") Ссылка