.section.types#types
	h2.types--title Виды кредитов
	//- .swiper-container
	.swiper.swiper-container
		.swiper--wrapper.swiper-wrapper
			.swiper--item.swiper-slide
				.swiper--image
					img(src="images/money.jpg", alt="no image")
				.swiper--content
					.container
						.row
							.swiper--title.col-xl-12 Испытательный
						.row
							.swiper--subtitle.col-xl-12 Для тех, кому не хватает совсем немножно
						.row
							.swiper--info.info.col-xl-12
								.info--item
									.info--image
										img(src="images/coins.svg", alt="coins")
									.info--text 100 - 5 000 BYN
								.info--item
									.info--image
										img(src="images/percent.svg", alt="percent")
									.info--text 12.4
								.info--item
									.info--image
										img(src="images/calendar.svg", alt="calendar")
									.info--text от 6 до 12 месяцев
						.row
							button.startBuiseness.startBuiseness__wide.col-xl-6 Начать оформление
			.swiper--item.swiper-slide
				.swiper--image
					img(src="images/money.jpg", alt="no image")
				.swiper--content
					.container
						.row
							.swiper--title.col-xl-12 Всё серьезно
						.row
							.swiper--subtitle.col-xl-12 Для тех, кто уже не играет в игрушки
						.row
							.swiper--info.info.col-xl-12
								.info--item
									.info--image
										img(src="images/coins.svg", alt="coins")
									.info--text 5 000 - 45 000 BYN
								.info--item
									.info--image
										img(src="images/percent.svg", alt="percent")
									.info--text 14.9 - 22.9
								.info--item
									.info--image
										img(src="images/calendar.svg", alt="calendar")
									.info--text 60 месяцев
						.row
							button.startBuiseness.startBuiseness__wide.col-xl-6 Начать оформление
			.swiper--item.swiper-slide
				.swiper--image
					img(src="images/money.jpg", alt="no image")
				.swiper--content
					.container
						.row
							.swiper--title.col-xl-12 На всё про всё
						.row
							.swiper--subtitle.col-xl-12 Для тех, кто жаждит большего
						.row
							.swiper--info.info.col-xl-12
								.info--item
									.info--image
										img(src="images/coins.svg", alt="coins")
									.info--text до 100 000 BYN
								.info--item
									.info--image
										img(src="images/percent.svg", alt="percent")
									.info--text 23.2
								.info--item
									.info--image
										img(src="images/calendar.svg", alt="calendar")
									.info--text 90 месяцев
						.row
							button.startBuiseness.startBuiseness__wide.col-xl-6 Начать оформление
		.swiper-pagination
		.swiper-button-prev
		.swiper-button-next