.section.types#types
	h2.types--title Виды кредитов
	//- .swiper-container
	.swiper.swiper-container
		.swiper--wrapper.swiper-wrapper
			.swiper--item.swiper-slide
				.swiper--image
					img(src="images/money.jpg", alt="no image")
				.swiper--content
					.container
						.row
							.swiper--title.col-xl-12 Испытательный
						.row
							.swiper--subtitle.col-xl-12 Для тех, кому не хватает совсем немножно
						.row
							.swiper--info.info.col-xl-12
								.info--item
									.info--image
										img(src="images/coins.svg", alt="coins")
									.info--text 100 - 5 000 BYN
								.info--item
									.info--image
										img(src="images/percent.svg", alt="percent")
									.info--text 12.4
								.info--item
									.info--image
										img(src="images/calendar.svg", alt="calendar")
									.info--text от 6 до 12 месяцев
						.row
							.col-xl-6 
								button.startBuiseness.startBuiseness__wide Начать оформление
		
		.swiper-pagination
		.swiper-button-prev
		.swiper-button-next