//- миксин подключает стили компонентов на страницу

//- подключение общих критических стилей
mixin style-includer()

	link(rel="stylesheet" href='css/allComponents.css')

	<!--[if components]>
	each item in componentsList
		link(rel="stylesheet" href= dir + 'css/' + item + '/style.css')
	<![endif]-->


//- подключение критический стилей отдельных компонентов
mixin componentsCriticalStyles-includer()

	each item in componentsCriticalList
		link(rel="stylesheet" href= '../../app/css/' + item + '/style.css' inline)


//- подключение скриптов отдельных компонентов
mixin componentsScripts-includer()

	each item in componentsScriptsList
		script(src=`./js/components/${item}/script.js` defer)


mixin include-style(name)
	-
		var componentName = name + '/';

		isInComponentsList(componentsList, componentName);