.section.startWith
    .container
        .row
            .startWith--image
                img(src="images/blank_paper.jpg", alt="blank paper")
            .startWith--text.col-xl-6.offset-xl-6
                h2.startWith--title Начните с чистого листа
                p.startWith--paragraph При оформлении кредита, не учитывается предыдущая история заёмщика. Это позволяет как выбраться из кредитной ямы, так и исправить кредитную историю.

                p.startWith--paragraph Но при хорошей кредитной истории Вы получите дополнительные бонусы и также можете взять сумму больше, чем при плохой истории или её отсутствии.

                p.startWith--paragraph Для игнорирования предыдущей истории, Вам достаточно просто сказать об этом работнику банка при оформлении кридита. Или при создании кредита из личного кабинета отметье соответствующий хитбокс.

                button.startBuiseness.col-xl-9.offset-xl-1 Начать оформление