.startWith
	// display: flex
	height: 100vh
	min-height: max-content
	position: relative
	overflow: hidden

	&--image
		object-fit: cover
		height: 100%
		position: absolute
		top: 0
		bottom: 0
		left: 0
		img
			object-position: 0 50%
	
	&--text
		padding: 100px 15px

		+media($sm)
			padding: 45px 15px
	
	&--title
		font-size: 48px
		font-weight: 700
		margin-bottom: 32px

		+media($xl)
			text-shadow: 2px 3px 4px #fff

	&-list

		+media($xl)
			max-width: 600px

	&--paragraph
		font-weight: 300
		font-size: 24px
		line-height: 1.5

		&:not(:last-child)
			margin-bottom: 50px

			+media($xl)
				margin-bottom: 25px
		
		+media($xl)
			font-size: 20px

@media screen and (max-width: 1700px)
	.startWith
		&--image
			width: 100%
			img
				width: 100%