
+b('aside').sidebar.js_mob-sidebar

	+e.__header
		+e.__header-title Услуги
		+e.__header-close.js_sidebar-menu-close
			+icon('arrow-back')

	+e.__scroll
		include ../../partials/menu/sidebar-menu/sidebar-menu