- var page = "Главная"
.main
	.container
		.row
			.main--side-menu.col-md-3
				include ../sidemenu/sidemenu.pug
			.main--content.col-md-9
				.conatiner
					.row.align-items-stretch
						.main--item-wrapper.col-xl-4.col-lg-6
							.main--item.item.item__count
								.item--title
									.item--image
										img(src="images/coins.svg" alt="счёт" height="30px")
									.item--name грязная собака
								.item--horizontal-line
								.item--amount-wrapper
									img.item--refresh(src="images/refresh.svg", alt="refresh")
									span.item--amount 125 
									span.item--currency BYN

						.main--item-wrapper.col-xl-4.col-lg-6
							.main--item.item.item__count
								.item--title
									.item--image
										img(src="images/coins.svg" alt="счёт" height="30px")
									.item--name не грязная собака но и не чистая
								.item--horizontal-line
								.item--amount-wrapper
									img.item--refresh(src="images/refresh.svg", alt="refresh")
									span.item--amount 12 
									span.item--currency USD

						.main--item-wrapper.col-xl-4.col-lg-6
							.main--item.item.item__count
								.item--title
									.item--image
										img(src="images/coins.svg" alt="счёт" height="30px")
									.item--name нормальная собака
								.item--horizontal-line
								.item--amount-wrapper
									img.item--refresh(src="images/refresh.svg", alt="refresh")
									span.item--amount 52 
									span.item--currency EUR