//- +lazy-img-slider({
//- 	pic: item,
//- 	mod: 'prod-pic',
//- })

mixin lazy-img-slider(data)
	img.swiper-lazy(
		class= data.mod
		src=`images/placeholder/${data.pic}` 
		data-src=`images/${data.pic}` 
		alt='img'
	)